<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css?v=<%= version %>" />
  <link rel="stylesheet" href="css/index.css?v=<%= version %>" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script type="text/javascript" src="/js/socket.io.js"></script>
  <link rel="stylesheet" href="/css/default.min.css">
  <script src="/js/highlight.min.js"></script>
  <script src="/js/markdown-it.min.js"></script>
  <script type="text/javascript" src="js/client.js?v=<%= version %>"></script>
  <!-- <script>hljs.highlightAll()</script> -->
  <title><%= title %></title>
</head>
<style>
.hljs {
  color: #073802;
  background: #28293629;
  border-radius: var(--border-radius-1);
  border: 1px solid var(--blur-border);
  font-size: 15px;
}


</style>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Left Sidebar -->
      <div class="col-md-3 rightsidebar">
        <button  onclick ="cui.onNewChart()" class="btn btn-outline-light" style="margin-top:10px; margin-bottom: 10px; width:100%">New Chat</button>
      <div class="sidebar">
        <div>
          <ul class="list-group" id ="savedChats"></ul>
        </div>
      </div>
      <button onclick ="cui.deleteMessages()" type="button" class="btn btn-outline-red" style="margin-top:10px; margin-bottom: 10px; width:100%">Delete All</button>
    </div>

      <!-- Main Chat Container -->
      <div class="col-md-9 chat-container">
        <div class="chat-messages" id="chatMessages"></div>
        <div class="stopper" id ="stop">
        <button id="stopgenerator" onclick="cui.stopGenerating()" type="button" class="btn btn-outline-secondary">Stop generating</button></div>
        <div class="input-container">
          <textarea id="messageInput" tabindex="0" rows="1" placeholder="Ask a question" class="form-control"></textarea>
          <button id="sendMessage" type="button" class="btn btn-outline-dark">Send</button>
        </div>
      </div>

     <!-- Right Sidebar -->
    <div class="col-md-2" style="display: none;">
      <div class="sidebar">
        <form id="configform" class="mt-3 ml-3">
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" value="../../models/vicuna-7b-v1.5.ggmlv3.q5_1.bin">
          </div>
          <div class="form-group">
            <label for="n-gpu-layers">Number of GPU Layers</label>
            <input type="text" class="form-control" id="n-gpu-layers" value="18">
          </div>
      
          <div class="form-group">
            <label for="ctx_size">Context Size</label>
            <input type="text" class="form-control" id="ctx_size" value="2048">
          </div>
          <div class="form-group">
            <label for="temp">Temperature</label>
            <input type="text" class="form-control" id="temp" value="0.3">
          </div>
          <div class="form-group">
            <label for="top_k">Top K</label>
            <input type="text" class="form-control" id="top_k" value="100">
          </div>
          <div class="form-group">
            <label for="repeat_penalty">Repeat Penalty</label>
            <input type="text" class="form-control" id="repeat_penalty" value="1.1">
          </div>
          <div class="form-group">
            <label for="t">Temperature</label>
            <input type="text" class="form-control" id="t" value="8">
          </div>
          <!-- Add more input fields for other parameters -->
          <button type="submit" class="btn btn-outline-dark">Apply</button>
        </form>
      </div>
    </div>


    <script>
      let iphostname =<%- JSON.stringify(hostname) %>;
      let port = <%- JSON.stringify(port) %>;
      cui.init(iphostname, port);
      const configForm = document.getElementById("configform");
      configForm.addEventListener('submit', function (event) {
      //event.preventDefault();
      // Process the form data here
      const formData = new FormData(configForm);
      for (const [key, value] of formData.entries()) {
        console.log(`${key}: ${value}`);
        // Update the configParams array or handle the values as needed
      }
    });
  </script>
</body>
</html>
